@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Noto Sans", sans-serif;
    color: #555555;
    background-color: #F5F5F5;
}

.cabecalho{
    background-color: #FFFFFF;
    margin: 50px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 1px 2px 10px #DDD;
}
.cabecalho h1{
    margin: 0px;
}
.cabecalho p{
    margin: 0px;
    margin-bottom: 20px;
    margin-top: -5px;
}


.botao{
    padding: 7px 50px;
    border-radius: 3px;
    font-weight: bold;
    margin-right: 10px;
}

.botao-principal{
    background-color: #1E85F7;
    color: #FFFFFF;
    /* border: 5px solid yellow; */
    border: none;
    cursor: pointer;
}

.botao-invertido{
    background-color: transparent;
    border: 2px solid #1E85F7;
    color: #1E85F7;
}
